@media (max-width: 1452px) {   
    .S2-leftbox {
        width: 520px;
    }
}    
@media (max-width: 1450px) {
    .Trainers {
        max-width: 400px;
    }
    .Trainers img {
        max-width: 100%;
    }
}
@media (max-width: 1360px) {
    .imageBox1 img{
        height: 300px;
        width: 200px;        
    }
    .imageBox2 img{
        height: 250px;
        width: 220px;        
    }
    .imageBox2 {
        margin-top: 150px;              
    }
    .section2 {
        justify-content: space-around;
    }
    .S2-rightbox {
        max-width: 400px;
    }
    .imageBox1 {
        margin-left: 80px;
    }
}
@media (max-width: 1340px) {
    .NewsBox {
        width: 300px;
        height: 500px;
        padding: 20px;
    }
    .NewsBox img {
        width: 265px;
    }
    
    .FooterIconWraper {
        display: none;
    }
    .FooterIconWraper2 {
        display: inline-block;
        margin-top: 60px;
    }
    .ContactLeftBox {
        margin-left: 7px;
    }
}
@media (max-width: 1250px) {
    .imageBox1 {
        display: none;
    } 
    .imageBox2 {
        margin-top: 40px;              
    }  
    .S2-leftbox {        
        margin-top: 82px;       
    }
    .S5imagebox {
        width: 50%;          
    }
}
@media (max-width: 1215px) {
    .navigation-list {
        display: none;
    }
    .burger {
        display: block;
    }
}
@media (max-width: 1215px) {
    .first-section p,
    .first-section h1,
    .first-section div {        
        margin-left: 80px;       
    }    
}
@media (max-width: 1100px) {
    .ContactSection {
        flex-direction: column;
        align-items: center;
    }
    .ContactLeftBox {
        width: 90%;
        height: 100%;
        background-image: url('../images/female-bodybuilder-training-with-dumbbells.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0;
        opacity: 60%;
        background-position: left;
        padding-left: 100px;
    }
    .ContactRightBox {
        width: 100%;
        height: 600px;
        display: none;
    }
    .footerwraper {
        flex-direction: column;
        align-items: center;
        height: 900px;
    }
    .Trainers {
        height: 450px;
    }
    .Trainers h3 {
        font-size: 30px;        
    }
}
@media (max-width: 970px) {
    .first-section h1 {
        font-size: 55px;
    }
    .S2-rightbox {
        max-width: 250px;           
    }
    .NewsBox {
        width: 90%;
        height: 600px;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    .NewsMainBox {
        flex-wrap: wrap;
    }
    .NewsBox img {
        width: 455px;
    }
    .NewsBox h4 {
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .NewsBox p {
        font-size: 20px;
    }    
}
@media (max-width: 850px) {
    .S5imagebox {
        width: 100%; 
        background-repeat: no-repeat;
        background-size: cover;         
    }
    .header-Main {
        padding: 25px 50px;    
    }
    .section2 {
        flex-direction: column;
        align-items: center;
    }
    .imageBox2 {
        display: flex;
        justify-content: center;
        max-width: 1000px;
        height: 500px;
        margin-left: 0;
    }
    .S2-leftbox {
        max-width: 650px;       
        margin-top: 0px;
        height: 560px;
    }
    .imageBox2 img{
        height: 400px;
        width: 350px;
        margin-left: 15px;        
    }
    .pricingMainbox {
        flex-wrap: wrap;
    }
}
@media (max-width: 760px) {
    .imageBox2 {
        flex-direction: column;
        margin-top: 100px; 
    } 
    .S3MainBox {
        margin-top: 30px;
    }   
    .section2 {
        height: 1600px;
    }
}
@media (max-width: 740px) {
    .Users_main li {
        width: 40%;
    }
    .Users_main {
        justify-content: center;
    }
    .ContactLeftBox {
        padding-left: 10px;
    }
}
@media (max-width: 630px) {
    .S4TrainersBox {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Trainers {
        height: 550px;
    }
    .Trainers h3 {
        font-size: 35px;        
    }
    .ContactMap {
        width: 315px;
        height: 315px;
    }
    .first-section h1 {
        font-size: 30px;
    }
    .first-section p {
        font-size: 15px;
    }
    
}
@media (max-width: 630px) {
    .S2-leftbox h2 {
        font-size: 40px; 
        width: 315px;  
    }
    .S2-leftbox p {
        font-size: 20px;    
    }
    .S2-leftbox {
        width: 320px;   
    }
}
@media (max-width: 550px) {
    .priceRange {
        width: 319px;
        height: 283px;
    }
    .priceRange h4 {
        font-size: 20px;
    }
    .Section5MainBox p {        
        font-size: 15px;        
    }
    .Section5MainBox h2 {
        font-size: 30px;
        max-width: 280px;
    }
    .fourthSection h2 {
        font-size: 30px;
    }
    .textAboutTeam {
        font-size: 20px;  
    }
    .NewsBox img {
        width: 315px;
    }
    .NewsBox h4 {
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .NewsBox p {
        font-size: 20px;
    } 
    .first-section p,
    .first-section h1,
    .first-section div {        
        margin-left: 10px;       
    } 
}
