
@media (max-width: 1452px) {   
    .S2-leftbox {
        width: 520px;
    }
}    
@media (max-width: 1450px) {
    .Trainers {
        max-width: 400px;
    }
    .Trainers img {
        max-width: 100%;
    }
}
@media (max-width: 1360px) {
    .imageBox1 img{
        height: 300px;
        width: 200px;        
    }
    .imageBox2 img{
        height: 250px;
        width: 220px;        
    }
    .imageBox2 {
        margin-top: 150px;              
    }
    .section2 {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .S2-rightbox {
        max-width: 400px;
    }
    .imageBox1 {
        margin-left: 80px;
    }
}
@media (max-width: 1340px) {
    .NewsBox {
        width: 300px;
        height: 500px;
        padding: 20px;
    }
    .NewsBox img {
        width: 265px;
    }    
    .FooterIconWraper {
        display: none;
    }
    .FooterIconWraper2 {
        display: inline-block;
        margin-top: 60px;
    }
    .ContactLeftBox {
        margin-left: 7px;
    }
}
@media (max-width: 1250px) {
    .imageBox1 {
        display: none;
    } 
    .imageBox2 {
        margin-top: 40px;              
    }  
    .S2-leftbox {        
        margin-top: 82px;       
    }
    .S5imagebox {
        width: 50%;          
    }
}
@media (max-width: 1215px) {
    .navigation-list {
        display: none;
    }
    .burger {
        display: block;
    }
}

@media (max-width: 1100px) {
    .ContactSection {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .ContactLeftBox {
        width: 90%;
        height: 100%;
        background-image: url('../images/female-bodybuilder-training-with-dumbbells.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0;
        opacity: 60%;
        background-position: left;
        padding-left: 100px;
    }
    .ContactRightBox {
        width: 100%;
        height: 600px;
        display: none;
    }
    .footerwraper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 900px;
    }
    .Trainers {
        height: 450px;
    }
    .Trainers h3 {
        font-size: 30px;        
    }
}
@media (max-width: 970px) {    
    .S2-rightbox {
        max-width: 250px;           
    }
    .NewsBox {
        width: 90%;
        height: 600px;
        padding: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;        
    }
    .NewsMainBox {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .NewsBox img {
        width: 455px;
    }
    .NewsBox h4 {
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .NewsBox p {
        font-size: 20px;
    }    
}
@media (max-width: 850px) {
    .S5imagebox {
        width: 100%; 
        background-repeat: no-repeat;
        background-size: cover;         
    }
    .header-Main {
        padding: 25px 50px;    
    }
    .section2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .imageBox2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        max-width: 1000px;
        height: 500px;
        margin-left: 0;
    }
    .S2-leftbox {
        max-width: 650px;       
        margin-top: 0px;
        height: 560px;
    }
    .imageBox2 img{
        height: 400px;
        width: 350px;
        margin-left: 15px;        
    }
    .pricingMainbox {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}
@media (max-width: 760px) {
    .imageBox2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 100px; 
    } 
    .S3MainBox {
        margin-top: 30px;
    }   
    .section2 {
        height: 1600px;
    }
}
@media (max-width: 740px) {
    .Users_main li {
        width: 40%;
    }
    .Users_main {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .ContactLeftBox {
        padding-left: 10px;
    }
}
@media (max-width: 630px) {
    .S4TrainersBox {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .Trainers {
        height: 550px;
    }
    .Trainers h3 {
        font-size: 35px;        
    }
    .ContactMap {
        width: 315px;
        height: 315px;
    }
    
}
@media (max-width: 630px) {
    .S2-leftbox h2 {
        font-size: 40px; 
        width: 315px;  
    }
    .S2-leftbox p {
        font-size: 20px;    
    }
    .S2-leftbox {
        width: 320px;   
    }
}
@media (max-width: 550px) {
    .priceRange {
        width: 319px;
        height: 283px;
    }
    .priceRange h4 {
        font-size: 20px;
    }
    .Section5MainBox p {        
        font-size: 15px;        
    }
    .Section5MainBox h2 {
        font-size: 30px;
        max-width: 280px;
    }
    .fourthSection h2 {
        font-size: 30px;
    }
    .textAboutTeam {
        font-size: 20px;  
    }
    .NewsBox img {
        width: 315px;
    }
    .NewsBox h4 {
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .NewsBox p {
        font-size: 20px;
    } 
    
    .Users_main li {
        width: 100%;
    }
    .S3MainBox h2 {
        font-size: 35px;
    }   
    .Title {
        font-size: 35px;
    }
}
@media (max-width: 390px) {
    .imageBox2 img{
        height: 370px;
        width: 250px;        
    }
    .priceRange {
        width: 270px;
        height: 243px;
    }
    .priceRange h4 {
        font-size: 15px;
    }
    .priceRange p {
        font-size: 10px;
    }
    .priceRange.SecondBox {
        margin: 0;
    }
    .NewsBox img {
        width: 250px;
    }
    .NewsBox p {
        font-size: 15px;
    }
    .NewsBox h4 {
        font-size: 20px;
    }
    .contacttitle {
        font-size: 20px;
    }
    .contacttitle:hover {
        font-size: 25px;
    }
    .contactInfoList li a {
        font-size: 15px;    
    }
    .contactInfoList li span {
        font-size: 20px;    
    }
    .ContactMap {
        width: 280px;
        height: 280px;
    }
    .header-Main {        
        padding: 30px 20px;
    } 
    .S5imagebox {
        height: 350px;
    }  
    .opacityBox {
        top: 216px;
    }      
    .S5imagebox p {
        top: 271px;        
    }  
    .Trainers {
        height: 500px;
        width: 280px;
    }
    .S2-leftbox {
        width: 270px;   
    }
   
    .contacttitle {
        width: 220px;
        font-size: 20px;        
    }
    .Section6 h2 {
        width: 220px;
        font-size: 20px;        
    }
    .contacttitle:hover {
        font-size: 15px;        
    }
    .Section6 h2:hover {
        font-size: 15px;        
    }
    .S4pressButton {
        width: 240px;
        height: 64px;
        padding: 25px 30px;
        font-size: 20px;
    }
    .section2 {
        width: 300px;
        margin-right: 0px;
    }
    .S3MainBox h2 {
        width: 290px;
    }
    .S2-leftbox h2 {
        width: 275px;
        font-size: 20px;
    }
    .S2-leftbox p {
        width: 170px;        ;
    }
    .ComBTN {
        width: 220px;
        font-size: 15px;
    }
    .S2-leftbox :nth-child(3) {
        font-size: 15px;
    }
    .ContactLeftBox {       
        padding-left: 0;
    }    
    
}  
.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}
@media (max-width: 330px) {
    .headerMainIcon {
        max-width: 80px;        
    }
    .burger {
        width: 30px;
        height: 30px;
        right: 30px;
    }  
    .S3MainBox h2 {
        width: 200px;
    }  
}