
/* header styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; 
    width: 100%;   
}
.header-Main.scrollingHeader {
    background-color: #5EB6E1;
    opacity: 60%;
}
body {
    padding-top: 100px;
}
.header-Main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 110px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
}
.navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 24px;
    text-transform: capitalize;
    font-family: 'Futura PT Demi';
    margin-left: 100px;
}
.navigation-list li {
    margin-right: 70px;
}
.NavDecor {    
    position: relative;
    text-decoration: none;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.NavDecor::after {
    content: ' ';
    position: absolute;
    left:0;
    bottom:0;
    height: 3px;
    width:0;
    background-color: #5EB6E1;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    border-radius: 25%;
}
.NavDecor:hover {
    font-size: 26px;
    font-weight: 600;
    font-style: italic;
}
.NavDecor:hover::after {
    width: 100%;
}

/* burger styling */
.burger {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 50px;
    border-radius: 25%;
    display: none;
}
.burger.BurgerOnScroll div {
    background-color: white;
}
.line {
    width: 80%;
    height: 3px;
    background-color: #5EB6E1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; 
}
.first {
    top: 30%;
}
.third {
    top: 70%;
}
.openedBurger .first {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);      
}
.openedBurger .third {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);      
}
.openedBurger .second {
    display: none;
}
.navigation-list.column {
    display: block;
    position: absolute;
    top: 95px;
    right: 0px;
    width: 100%;
    height: 350px;
    background-color: #5EB6E1;
    opacity: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}

/* section 1 styling */
/* slider styiling */
.sliderMainBox {
    width: 100%;
    height: 915px;    
    position: relative;      
}
.Arrow {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);    
    position: absolute;
    font-size: 35px;
    color: white;
}
.Left {
    left: 40px;
}
.Right {    
    right: 40px;
}
.DotMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 40px;
}
.dots {
    width: 15px;
    height: 15px;
    background-color:#5EB6E1;
    border-radius: 25px;
    margin-left: 5px;
}
.active {
    width: 18px;
    height: 18px;
    border: 1px solid white;
}
.BgImage {
    width: 100%;
    height: 915px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}
.Title {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    position: absolute; 
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); 
    color: white;
    font-style: italic;
    text-shadow: 3px 5px 5px #5EB6E1;
}

.pricingMainbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 109px;
    margin-bottom: 252px;
}
.priceRange {
    width: 475px;
    height: 283px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.priceRange.FirstBox {
    background-image: url('../images/Group\ 135.jpg');
}
.priceRange.SecondBox {
    background-image: url('../images/Group\ 136.jpg');
    margin-left: 21px;
    margin-right: 21px;
}
.priceRange.thirdBox {
    background-image: url('../images/Group\ 137.jpg');
}
.priceRange h4 {
    font-size: 30px;
    margin-bottom: 5px;
}
.priceRange span {
    width: 135px;
    height: 39px;
    padding: 8px 37px;
    margin-top: 26px;
}
.priceRange.FirstBox span {
    background-color: #FF6C2C;
}
.priceRange.SecondBox span {
    background-color: #945B9F;
}
.priceRange.thirdBox span {
    background-color: #5EB6E1;
}

/* section 2 styling */
.section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.S2-leftbox {
    max-width: 620px;
    height: 674px;
    margin-top: 242px;   
}
.S2-leftbox span {
    font-size: 15px;
    color: #FF6C2C;
}
.S2-leftbox h2 {
    max-width: 535px;
    font-size: 60px;
    margin-bottom: 72px;    
}
.S2-leftbox :nth-child(3) {    
    color: #FF6C2C;
    margin-bottom: 40px;
}
.S2-leftbox p {
    font-size: 30px;    
}
.S2-rightbox {
    max-width: 810px;
    height: 674px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;    
}
.imageBox1 {
    height: 930px; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;   
}
.imageBox2 {
    height: 930px; 
    margin-left: 51px;
}
.imageBox2 :nth-child(1) {
    margin-bottom: 51px;
}
.S2-leftbox div {
    max-width: 240px;
    height: 74px;
    background-color: #5EB6E1;  
    border-radius: 15px;
    padding: 25px 70px; 
    margin-top: 49px; 
}
/* section 3 styling */
.S3MainBox {
    max-width: 1920px;
    background-color: black;
    position: relative;
    padding: 80px 20px;
}
.S3MainBox h2 {
    color: white;
    width: 340px;
    font-size: 60px;
    margin: 0 auto;
}
.Slider-arrow {
    color: #5EB6E1;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 40px;
}
.Slider-arrow.left {
    left: 50px;
}
.Slider-arrow.right {
    right: 50px;
}
.Users_main {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 550px;  
    margin: 60px auto; 
    -ms-flex-wrap: wrap; 
        flex-wrap: wrap; 
}
.Users_main li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}
.Users_main img {
    border-radius: 50%;
    margin-bottom: 40px;
    margin-top: 30px;
    width: 150px;
    height: 150px;
}
.Users_main img:hover {
    border: 4px solid #5EB6E1;
    -webkit-box-shadow: 3px 4px 5px 5px #5EB6E1;
            box-shadow: 3px 4px 5px 5px #5EB6E1;
}
.ComBTN {
    width: 280px;
    height: 60px;
    background-color: #5EB6E1;
    border-radius: 10px;
    padding: 18px 22px;
    margin: 20px auto;
    cursor: pointer; 
    color: white;
}
.ComBTN.passive {
    display: none;
}
.Cross {
    font-size: 55px;
    color: #5EB6E1;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    display: none;    
}
.Cross.activeX {
    display: block;
}
.contact_staff {
    width: 200px;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #5EB6E1;
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    display: none;
}
.contact_staff.activeMail {
    display: block;
}

/* section 4 styling */
.S4TrainersBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.S4TrainersBox :nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
}
.fourthSection h2 {
    max-width: 450px;
    margin: 0 auto;
    font-size: 60px;
    margin-top: 165px;
}
.textAboutTeam {
    text-align: center;
    font-size: 30px;    
    max-width: 1275px;
    margin: 0 auto;
    margin-bottom: 62px;
    margin-top: 68px;
    font-family: 'Futura PT Demi';
}
.Trainers {
    height: 650px;
    -webkit-box-shadow: 2px 5px #888888;
            box-shadow: 2px 5px #888888;
}
.Trainers h3 {
    font-size: 35px;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 15px;
}
.Trainers p {
    font-size: 25px;
    text-align: center;
}
.S4pressButton {
    max-width: 340px;
    height: 74px;
    background-color: #5EB6E1;  
    border-radius: 15px;
    padding: 25px 60px;
    font-size: 25px;
    margin: 60px auto;
    cursor: pointer;
}
/* section 5 styling */
#ourClassesSection {
    width: 99%;
}
.S5imagebox {
    width: 33%;
    height: 499px; 
    position: relative;   
}
.testing {
    width: 100%;
    height: 100px;
    background-color: #5EB6E1;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition:height 2s;
    -o-transition:height 2s;
    transition:height 2s;
}
.testing:hover {
    height: 300px;
}
.ImageWraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.Section5MainBox {
    margin-top: 20px;
    background-color: black; 
    padding-top: 120px;   
}
.Section5MainBox h2 {
    color: white;
    font-size: 60px;
    max-width: 310px;
    margin: 0 auto;
    margin-bottom: 67px;
    font-family: 'Futura PT Demi';
}
.Section5MainBox p {
    color: white;
    font-size: 30px;
    text-align: center;
    max-width: 1275px;
    margin: 0 auto;
    margin-bottom: 125px;
    font-family: 'Futura PT Demi';
}
.opacityBox {
    width: 100%;
    height: 134px;
    background-color: black;
    opacity: 65%;
    color: white;
    position: absolute;  
    bottom: 0;
    z-index: 10;
    -webkit-transition:height 2s;
    -o-transition:height 2s;
    transition:height 2s;
    padding-top: 20px;
}
.opacityBox:hover {
    height: 350px;
}
.hidden {
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    display: none;
}
.opacityBox:hover .hidden {
    display: block;
}

.firstimg {
    background-image: url('../images/fit-young-woman-lifting-barbells-looking-focused-working-out-gym_155003-5353.jpg');
}
.secondimg {
    background-image: url('../images/woman-doing-exercise-gym_116124-203.jpg');
}
.thirdimg {
    background-image: url('../images/fitness-days-gorgeous-blonde-woman-gym-her-weekend-time_146671-17084.jpg');
}
.fourthimg {
    background-image: url('../images/woman-exercising-with-dumbbell-muscle-gym_116317-294.jpg');
}
.fifthimg {
    background-image: url('../images/senior-woman-doing-abs-yoga-mat_23-2148282954.jpg');
}
.sixthimg {
    background-image: url('../images/keep-holding-gorgeous-blonde-woman-gym-her-weekend-time_146671-16987.jpg');
}


/* section 6 styling */
.Section6 h2 {
    font-size: 60px;
    margin: 171px auto 89px auto;
    max-width: 320px;
    
}
.NewsBox {
    width: 390px;
    height: 522px;
    background-color: black;
    padding: 30px;
}
.NewsMainBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
}
.NewsMainBox :nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}
.NewsBox h4 {
    color: #5EB6E1;
    font-size: 20px;
    margin-top: 45px;
    margin-bottom: 40px;
    line-height: 1.5;
}
.NewsBox p {
    color: #BBBBBB;
    font-size: 14px;
    line-height: 1.5;
}
.NewsMainBox.loadNews {
    display: none;
}
.LoadNewsBTN {
    max-width: 340px;
    height: 74px;
    background-color: #5EB6E1;  
    border-radius: 15px;
    padding: 25px 110px;
    font-size: 25px;
    margin: 60px auto;
    cursor: pointer;
}
.LoadNewsBTN.passive {
    display: none;
}
.CloseMark {
    font-size: 60px;
    color: #5EB6E1;
    text-align: center;
    display: none;
    margin-top: 30px;
}
.CloseMark.activated {
    display: block;
}
.NewImage {
    width: 330px;
    height: 219px;
    -o-object-fit: cover;
       object-fit: cover;
}
/* section 7 styling */
.ContactSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: black;  
    width: 99%;  
    margin-top: 50px;
}
.ContactLeftBox {
    width: 50%;
    height: 795px;
    margin-top: 125px;
    margin-left: 70px;
    
}
.ContactLeftBox h2 {
    font-size: 60px;
    color: white;
    margin-bottom: 65px;
}
.Form_wraper {
    max-width: 600px;
    color: #5EB6E1;
}
.FormErrorText {
    color: red;
}
.Input_block,
.select,
.Text_Area {
    height: 63px;
    background-color: black;
    width: 100%;    
    border: 1px solid #5EB6E1;  
    resize: none;
    color: #5EB6E1;
}
.Input_block {
    margin-bottom: 30px;
    margin-top: 30px;
}
.Text_Area {
    height: 188px;      
    resize: none;
    font-style: italic;
}
.Input_block:focus,
.select:focus,
.Text_Area:focus {
    outline: none;
}
.select {
    color: #BBBBBB
}
.select:focus {
    color: #5EB6E1;
}
.select option {
    color: #5EB6E1;
}
.Click_BTN {
    width: 100%;
    border-radius: 10px;
    background-color: #5EB6E1;
    height: 63px;
    margin-top: 30px;
    cursor: pointer;
}
.Checked {
    display: none;
}
.Checked.valid_checked {
    display: block;
    color: #5EB6E1; 
    margin-bottom: 30px;  
}
.Text_Area {
    margin-top: 30px;
}
.ContactRightBox {
    width: 50%;
    background-image: url('../images/female-bodybuilder-training-with-dumbbells.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


/* footer styling */
.footerwraper {
    width: 99%;
    height: 580px;
    background-color: black;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 60px 10px;
    border: 2px solid #5EB6E1;
}
.footerwraper :nth-child(1) {
    position: relative;
}
.FooterIconWraper2 {
    display: none;
}
.FooterIcon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.contacttitle {
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: 90px;
}
.contactInfoList li {
    color: #5EB6E1;
    margin-bottom: 20px;
}
.contactInfoList li a {
    color: white;
    margin-left: 15px;    
}
.ContactMap {
    -webkit-box-shadow: 10px 10px 20px  #5EB6E1;
            box-shadow: 10px 10px 20px  #5EB6E1;
    margin-right: 5px;
}
h2 {    
    position: relative;
    text-decoration: none;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
h2::after {
    content: ' ';
    position: absolute;
    left:0;
    bottom:0;
    height: 3px;
    width:20%;
    background-color: #5EB6E1;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    border-radius: 25%;
}
h2:hover {
    font-size: 50px;
}
h2:hover::after {
    width: 100%;
}