/* header styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; 
    width: 100%;   
}
.header-Main.scrollingHeader {
    background-color: #5EB6E1;
    opacity: 60%;
}
body {
    padding-top: 100px;
}
.header-Main {
    display: flex;
    justify-content: space-between;
    padding: 30px 110px;
    align-items: center;
    
}
.navigation-list {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    text-transform: capitalize;
    font-family: 'Futura PT Demi';
    margin-left: 100px;
}
.navigation-list li {
    margin-right: 70px;
}

/* burger styling */
.burger {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #5EB6E1;
    border: 3px solid rgb(249, 248, 250);
    right: 50px;
    border-radius: 25%;
    display: none;
}
.line {
    width: 80%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    transition: all 0.4s; 
}
.first {
    top: 30%;
}
.third {
    top: 70%;
}
.openedBurger .first {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);      
}
.openedBurger .third {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);      
}
.openedBurger .second {
    display: none;
}

/* section 1 styling */
.first-section {
    width: 100%;
    height: 915px;
    background-image: url('../images/girl-resting-after-exercises-gym_152625-820_auto_x2_auto_x2.jpg');
    color: white;
    background-position: right;
}
.first-section p {
    font-size: 30px;
    margin-left: 200px;
    padding-top: 310px;
}
.first-section h1 {
    font-size: 75px;
    max-width: 910px;
    margin-left: 200px;
    line-height: 1.3;
}
.first-section div {
    max-width: 260px;
    height: 90px;
    background-color: #5EB6E1;
    margin-left: 200px;
    text-align: center;
    padding-top: 28px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 30px;
    color: black;
}
.pricingMainbox {
    display: flex;
    justify-content: center;
    margin-top: 109px;
    margin-bottom: 252px;
}
.priceRange {
    width: 475px;
    height: 283px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
}
.priceRange.FirstBox {
    background-image: url('../images/Group\ 135.jpg');
}
.priceRange.SecondBox {
    background-image: url('../images/Group\ 136.jpg');
    margin-left: 21px;
    margin-right: 21px;
}
.priceRange.thirdBox {
    background-image: url('../images/Group\ 137.jpg');
}
.priceRange h4 {
    font-size: 30px;
    margin-bottom: 5px;
}
.priceRange div {
    width: 135px;
    height: 39px;
    padding: 8px 37px;
    margin-top: 26px;
}
.priceRange.FirstBox div {
    background-color: #FF6C2C;
}
.priceRange.SecondBox div {
    background-color: #945B9F;
}
.priceRange.thirdBox div {
    background-color: #5EB6E1;
}

/* section 2 styling */
.section2 {
    display: flex;
    justify-content: space-around;
}
.S2-leftbox {
    max-width: 620px;
    height: 674px;
    margin-top: 242px;
}
.S2-leftbox span {
    font-size: 15px;
    color: #FF6C2C;
}
.S2-leftbox h2 {
    max-width: 535px;
    font-size: 60px;
    margin-bottom: 72px;    
}
.S2-leftbox :nth-child(3) {    
    color: #FF6C2C;
    margin-bottom: 40px;
}
.S2-leftbox p {
    font-size: 30px;    
}
.S2-rightbox {
    max-width: 810px;
    height: 674px;
    display: flex;
    justify-content: center;    
}
.imageBox1 {
    height: 930px; 
    display: flex;
    align-items: center;   
}
.imageBox2 {
    height: 930px; 
    margin-left: 51px;
}
.imageBox2 :nth-child(1) {
    margin-bottom: 51px;
}
.S2-leftbox div {
    max-width: 240px;
    height: 74px;
    background-color: #5EB6E1;  
    border-radius: 15px;
    padding: 25px 70px; 
    margin-top: 49px; 
}
/* section 3 styling */
.S3MainBox {
    max-width: 1920px;
    height: 836px;
    background-color: black;
    position: relative;
}
.Slider-arrow {
    color: #5EB6E1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
}
.Slider-arrow.left {
    left: 50px;
}
.Slider-arrow.right {
    right: 50px;
}

/* section 4 styling */
.S4TrainersBox {
    display: flex;
    justify-content: center;
}
.S4TrainersBox :nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
}
.fourthSection h2 {
    max-width: 385px;
    margin: 0 auto;
    font-size: 60px;
    margin-top: 165px;
}
.textAboutTeam {
    text-align: center;
    font-size: 30px;    
    max-width: 1275px;
    margin: 0 auto;
    margin-bottom: 62px;
    margin-top: 68px;
    font-family: 'Futura PT Demi';
}
.Trainers {
    height: 650px;
    box-shadow: 2px 5px #888888;
}
.Trainers h3 {
    font-size: 35px;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 15px;
}
.Trainers p {
    font-size: 25px;
    text-align: center;
}
.S4pressButton {
    max-width: 340px;
    height: 74px;
    background-color: #5EB6E1;  
    border-radius: 15px;
    padding: 25px 60px;
    font-size: 25px;
    margin: 60px auto;
}
/* section 5 styling */
.S5imagebox {
    width: 33%;
    height: 499px; 
    position: relative;   
}
.ImageWraper {
    display: flex;
    flex-wrap: wrap;
}
.Section5MainBox {
    margin-top: 20px;
    background-color: black; 
    padding-top: 120px;   
}
.Section5MainBox h2 {
    color: white;
    font-size: 60px;
    max-width: 310px;
    margin: 0 auto;
    margin-bottom: 67px;
    font-family: 'Futura PT Demi';
}
.Section5MainBox p {
    color: white;
    font-size: 30px;
    text-align: center;
    max-width: 1275px;
    margin: 0 auto;
    margin-bottom: 125px;
    font-family: 'Futura PT Demi';
}
.opacityBox {
    width: 635px;
    height: 134px;
    background-color: black;
    opacity: 58%;
    color: white;
    position: absolute;  
    top: 365px;
    z-index: 10;
}
.S5imagebox p {
    position: absolute;
    top: 415px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 13;
}

/* section 6 styling */
.Section6 h2 {
    font-size: 60px;
    margin: 171px auto 89px auto;
    max-width: 320px;
    
}
.NewsBox {
    width: 390px;
    height: 522px;
    background-color: black;
    padding: 30px;
}
.NewsMainBox {
    display: flex;
    justify-content: center;
}
.NewsMainBox :nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}
.NewsBox h4 {
    color: #5EB6E1;
    font-size: 20px;
    margin-top: 45px;
    margin-bottom: 40px;
    line-height: 1.5;
}
.NewsBox p {
    color: #BBBBBB;
    font-size: 14px;
    line-height: 1.5;
}
.Section6PressButton {
    max-width: 340px;
    height: 74px;
    background-color: #5EB6E1;  
    border-radius: 15px;
    padding: 25px 90px;
    font-size: 25px;
    margin: 60px auto;
}
/* section 7 styling */
.ContactSection {
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.ContactLeftBox {
    max-width: 581px;
    height: 795px;
}

/* footer styling */
.footerwraper {
    height: 580px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 60px 10px;
    border: 2px solid #5EB6E1;
}
.footerwraper :nth-child(1) {
    position: relative;
}
.FooterIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.contacttitle {
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: 90px;
}
.contactInfoList li {
    color: #5EB6E1;
    margin-bottom: 20px;
}
.contactInfoList li a {
    color: white;
    margin-left: 15px;    
}
.ContactMap {
    box-shadow: 10px 10px 20px  #5EB6E1;
}  


h2 {    
    position: relative;
    text-decoration: none;
    transition: all 0.5s linear;
}
h2::after {
    content: ' ';
    position: absolute;
    left:0;
    bottom:0;
    height: 3px;
    width:20%;
    background-color: #5EB6E1;
    transition: all 0.5s linear;
    border-radius: 25%;
}
h2:hover {
    font-size: 50px;
}

h2:hover::after {
    width: 100%;
}